.scrolling-text {
  display: flex;
  justify-content: center;
  color: orange;
  font-size: 10rem;
  height: 80%;
  overflow: hidden;
  perspective: 300px;
  width: 100vw;
}

.crawl {
  position: relative;
  top: -1000px;
  transform-origin: 50% 100%;
  animation: crawl 90s linear;
  visibility: hidden;
}

.instructions {
  position: absolute;
  z-index: 100;
  animation: 53s instructions;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes crawl {
  0% {
    top: 650px;
    transform: rotateX(20deg) translateZ(0);
    visibility: visible;
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2000px);
    visibility: hidden;
  }
}

@keyframes instructions {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}