.header {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #AAAAAB;
  background-color: #4B545F;
  position: relative;
  padding: 1rem;
}

.header__h1 {
  font-size: 5rem;
  color: orange;
  text-align: center;
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}

.header__favBtn {
  background-color: gray;
  position: absolute;
  right: 2rem;
  top: 2rem;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  border: 1px solid black;
}

.header__favBtn.active {
  background:#18212A;
  color: white;  
}

.header__favCount {
  margin: 0 0 0 1rem;
  padding: 0.5rem;
  background-color: #4B545F;
  color: #fff;
  font-size: 1.5rem;
}

.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav li {
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 2rem;
}

.nav a {
  text-decoration: none;
  background-color: gray;
  border-radius: 10px 10px;
  padding: 1rem 2rem;
  color: #fff;
}

.nav .active {
  background-color: #18212A;
}