.nav {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav li {
  display: inline;
}

.nav a { 
  text-decoration: none;
  background-color: gray;
  border-radius: 10px 10px;
  padding: 1rem 2rem;
  color: #fff;
}

.nav .active {
  background-color: #18212A;
}